{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CaleyRun</title>
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/caley.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="SHORTCUT ICON" href="../favicon.ico"/>
    <style>
    .hahamiddle {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }
    </style>
</head>

<body>
    <div class="video-bg">
        <img src="../static/img/grouplist-bg1.png" alt="" class="bg-img">
        <div class="banner1-info new">
            <div class="wording">
                <div class="move-logo"></div>
                <div class="move-title">Caley在线跑团</div>
                <div class="move-desc">
                    <form action="{% url 'grouplist' %}" method="get">
                        <div class="input-group">
                            <input type="search" class="form-control" value="{{ query|default:'' }}" name="q" placeholder="想加入特定的团？没问题！">
                            <span class="input-group-btn">
                                <button type="search" class="btn btn-warning" >搜索</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
                <div class="hahamiddle">
                    <div class="move-desc">
                        <a href="{% url 'creatgroup' %}">
                            <button type="button" class="btn btn-info">创建房间</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="h-inner">
            <h1 class="logo">
                <a href="{% url 'index' %}"></a>
            </h1>
            <div class="nav">
                <ul class="nav-ul">
                    <li class="nav-item"><a href="{% url 'index' %}">首页</a></li>
                    <li class="nav-item"><a href="{% url 'airconlist' %}" class="active">浏览/创建房间</a></li>
                    <li class="nav-item"><a href="./support.html">个人中心</a></li>
                </ul>
            </div>
            {% if not userInfo %}
            <div class="login-register">
                <a href="{% url 'register' %}">登录/注册</a>
            </div>
            {% else %}
            <div class="user-info-container">
                <img class="headimg_caley" src="{% static userInfo.headimg %}">
                <div class="user-data">
                    <h2>{{ userInfo.u_name }}</h2>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="hahamiddle">
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <a type="button" class="btn btn-default" href="?q={{ context.query }}&sortby=CreadedTime_back">按创建时间降序</a>
            <a type="button" class="btn btn-default" href="?q={{ context.query }}&sortby=CreadedTime">按创建时间升序</a>
            <a type="button" class="btn btn-default" href="?q={{ context.query }}&sortby=group_users_num_back">按人数降序</a>
            <a type="button" class="btn btn-default" href="?q={{ context.query }}&sortby=group_users_num">按人数升序</a>
        </div>
    </div>
    <div class="hahamiddle">
        {% if context.results %}
            <div class="row">
            {% for groups in context.results %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{% static groups.group_img %}" alt="{{groups.group_name}}" style="max-width: 300px; max-height: 300px;min-width: 300px;min-height: 300px">
                        <div class="caption">
                            <h3>{{groups.group_name}}</h3>
                            <p>人数：{{groups.group_users_num}}/{{groups.group_users_max_num}}</p>
                            <p>TAG：{{groups.group_tag}}</p>
                            {% if groups.groupe_state == '1' or groups.groupe_state == '7'%}
                                <p>状态：准备中</p>
                            {% endif %}
                            {% if groups.groupe_state == '3' or groups.groupe_state == '8'%}
                                <p>状态：游戏中</p>
                            {% endif %}
                            {% if groups.groupe_state == '5' or groups.groupe_state == '9'%}
                                <p>状态：已结束</p>
                            {% endif %}
                            <p>KP：{{groups.user_name}}</p>
                            <p><a href="#" class="btn btn-primary" role="button">加入</a> <a href="#" class="btn btn-default" role="button">查看</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% if context.results.has_other_pages %}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if context.results.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ context.results.previous_page_number }}{% if context.query %}&q={{ context.query }}{% endif %}&sortby={{ context.sortby }}" aria-label="上一页">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">上一页</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="上一页">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">上一页</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for i in context.results.paginator.page_range %}
                            {% if context.results.number == i %}
                                <li class="page-item active">
                                    <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}{% if context.query %}&q={{ context.query }}{% endif %}&sortby={{ context.sortby }}">{{ i }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}

                        {% if context.results.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ context.results.next_page_number }}{% if context.query %}&q={{ context.query }}{% endif %}&sortby={{ context.sortby }}" aria-label="下一页">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">下一页</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="下一页">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">下一页</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% else %}
            <div class="jumbotron">
                <h1>未找到相关结果</h1>
                <p>悄悄告诉你：您可以自己创建一个房间哦！</p>
                <p><a class="btn btn-primary btn-lg" href="{% url 'creatgroup' %}" role="button">创建房间</a></p>
            </div>
        {% endif %}
    </div>


    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bj-report-tryjs.min.js"></script>
    <script src="../static/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <script>
        var windowHeight = $(window).height()
            // 页面滚动触发播放事件
        function pageScroll() {
            var documentScrollTop = $(document).scrollTop()

            if (documentScrollTop > 10) {
                $('.header').addClass('scrollTop')
            } else {
                $('.header').removeClass('scrollTop')
            }
        }
        $(document).scroll(pageScroll)
        initVideoPosition()

        function initVideoPosition() {
            var w = 2560,
                h = 997,
                ml = 1298,
                mb = 126,
                mw = 180,
                mh = 319,
                pl = 1519,
                pb = 264,
                pw = 626,
                ph = 501,
                nw = (document.body.clientWidth).toFixed(9),
                nh = (nw * h / w).toFixed(9),
                mlp = (ml / w).toFixed(9),
                mbp = (mb / h).toFixed(9),
                mwp = (mw / w).toFixed(9),
                mhp = (mh / h).toFixed(9),
                mlnpx = nw * mlp,
                mbnpx = nh * mbp,
                mwnpx = nw * mwp,
                mhnpx = nh * mhp,


                plp = (pl / w).toFixed(9),
                pbp = (pb / h).toFixed(9),
                pwp = (pw / w).toFixed(9),
                php = (ph / h).toFixed(9),
                plnpx = nw * plp,
                pbnpx = nh * pbp,
                pwnpx = nw * pwp,
                phnpx = nh * php
            $('.video-mob').css({
                bottom: mbnpx + 'px',
                left: mlnpx + 'px',
                width: mwnpx + 'px',
                height: mhnpx + 'px'
            })
            $('.video-pc').css({
                bottom: pbnpx + 'px',
                left: plnpx + 'px',
                width: pwnpx + 'px',
                height: phnpx + 'px'
            })

        }
        $('.wording').addClass('show')
        window.onresize = function() {
            initVideoPosition()
        }
        document.onmouseenter = function() {
            return false;
        }
        document.onmousemove = function() {
            return false;
        }
        document.oncontextmenu = function() {
            return false;
        }
    </script>
</body>