{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CaleyRun</title>
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/caley.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="SHORTCUT ICON" href="../favicon.ico"/>
    <style>
    .hahamiddle {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }
    </style>
</head>

<body>
    <div class="video-bg">
        <img src="../static/img/grouplist-bg1.png" alt="" class="bg-img">
        <div class="banner1-info new">
            <div class="wording">
                <div class="move-logo"></div>
                <div class="move-title">BUPT空调控制系统</div>
                <div class="move-desc">
                    <form action="{% url 'airconlist' %}" method="get">
                        <div class="input-group">
                            <input type="search" class="form-control" value="" name="q" placeholder="搜索房间号">
                            <span class="input-group-btn">
                                <button type="search" class="btn btn-warning" >搜索</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
                {% if userInfo.user_state ==  "2"%}
                <div class="hahamiddle">
                    <div class="move-desc">
                        <a href="{% url 'creatOrder' %}">
                            <button type="button" class="btn btn-info">开房</button>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="header">
        <div class="h-inner">
            <h1 class="logo">
                <a href="{% url 'index' %}"></a>
            </h1>
            <div class="nav">
                <ul class="nav-ul">
                    <li class="nav-item"><a href="{% url 'index' %}">首页</a></li>
                    <li class="nav-item"><a href="{% url 'airconlist' %}" class="active">浏览/管理空调</a></li>
                    <li class="nav-item"><a href="./support.html">个人中心</a></li>
                </ul>
            </div>
            <div class="user-info-container">
                <img class="headimg_caley" src="{% static userInfo.headimg %}">
                <div class="user-data">
                    <h2>{{ userInfo.u_name }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="hahamiddle">
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <a type="button" class="btn btn-default" href="?q={{ context.query }}&sortby=room_id">按房间号降序</a>
            <a type="button" class="btn btn-default" href="?q={{ context.query }}&sortby=room_id_back">按房间号升序</a>
            <a type="button" class="btn btn-default" href="?q={{ context.query }}&sortby=room_current_temp">按温度降序</a>
            <a type="button" class="btn btn-default" href="?q={{ context.query }}&sortby=-room_current_temp">按温度升序</a>
        </div>
    </div>
    <div class="hahamiddle">
    {% block content %}
    {% if context.results %}
    <div class="row">
      {% for result in context.results %}
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <div class="caption">
                <h3>{{result.Aircon_name}}</h3>
                <p>房间温度：{{result.room_current_temp}}</p>
                <p>设置温度：{{result.Aircon_setting_temp}}</p>
                <p>模式：
                    {% if result.Aircon_setting_model == "0" %}
                        制冷
                    {% elif result.Aircon_setting_model == "1" %}
                        制热
                    {% endif %}</p>
                <p>风速：
                    {% if result.Aircon_setting_wind == "0" %}
                        已关机
                    {% elif result.Aircon_setting_wind == "1" %}
                        低
                    {% elif result.Aircon_setting_wind == "2" %}
                        中
                    {% elif result.Aircon_setting_wind == "3" %}
                        高
                    {% endif %}
                </p>
                <p><a href="#" class="btn btn-primary" role="button">管理</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if results.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ results.previous_page_number }}" aria-label="上一页">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">上一页</span>
            </a>
          </li>
        {% endif %}

        {% for num in results.paginator.page_range %}
          {% if results.number == num %}
            <li class="page-item active">
              <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if results.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ results.next_page_number }}" aria-label="下一页">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">下一页</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% else %}
    <div class="jumbotron">
      <h1>房间不存在或您未拥有权限</h1>
      <p>如有疑问请联系前台，或客服电话</p>
    </div>
    {% endif %}
    {% endblock %}
    </div>


    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bj-report-tryjs.min.js"></script>
    <script src="../static/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <script>
        var windowHeight = $(window).height()
            // 页面滚动触发播放事件
        function pageScroll() {
            var documentScrollTop = $(document).scrollTop()

            if (documentScrollTop > 10) {
                $('.header').addClass('scrollTop')
            } else {
                $('.header').removeClass('scrollTop')
            }
        }
        $(document).scroll(pageScroll)
        initVideoPosition()

        function initVideoPosition() {
            var w = 2560,
                h = 997,
                ml = 1298,
                mb = 126,
                mw = 180,
                mh = 319,
                pl = 1519,
                pb = 264,
                pw = 626,
                ph = 501,
                nw = (document.body.clientWidth).toFixed(9),
                nh = (nw * h / w).toFixed(9),
                mlp = (ml / w).toFixed(9),
                mbp = (mb / h).toFixed(9),
                mwp = (mw / w).toFixed(9),
                mhp = (mh / h).toFixed(9),
                mlnpx = nw * mlp,
                mbnpx = nh * mbp,
                mwnpx = nw * mwp,
                mhnpx = nh * mhp,


                plp = (pl / w).toFixed(9),
                pbp = (pb / h).toFixed(9),
                pwp = (pw / w).toFixed(9),
                php = (ph / h).toFixed(9),
                plnpx = nw * plp,
                pbnpx = nh * pbp,
                pwnpx = nw * pwp,
                phnpx = nh * php
            $('.video-mob').css({
                bottom: mbnpx + 'px',
                left: mlnpx + 'px',
                width: mwnpx + 'px',
                height: mhnpx + 'px'
            })
            $('.video-pc').css({
                bottom: pbnpx + 'px',
                left: plnpx + 'px',
                width: pwnpx + 'px',
                height: phnpx + 'px'
            })

        }
        $('.wording').addClass('show')
        window.onresize = function() {
            initVideoPosition()
        }
        document.onmouseenter = function() {
            return false;
        }
        document.onmousemove = function() {
            return false;
        }
        document.oncontextmenu = function() {
            return false;
        }
    </script>
</body>