{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CaleyRun</title>
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/caley.css">
</head>

<body>
    <div class="video-bg">
        <img src="../static/img/index-bg1.png" alt="" class="bg-img">
        <div class="banner1-info new">
            <div class="wording">
                <div class="move-logo"></div>
                <div class="move-title">BUPT空调管理系统</div>
                <div class="move-desc">支持在线控制温湿度、查询账单、结账等功能。</div>
                <div class="move-down">
                    <a href="{% url 'airconlist' %}" class="move-down-a">
                        <span>房间列表</span>
                        <span>房间列表</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="h-inner">
            <h1 class="logo">
                <a href="{% url 'index' %}"></a>
            </h1>
            <div class="nav">
                <ul class="nav-ul">
                    <li class="nav-item"><a href="{% url 'index' %}" class="active">首页</a></li>
                    <li class="nav-item"><a href="{% url 'airconlist' %}">浏览房间</a></li>
                    <li class="nav-item"><a href="./support.html">个人中心</a></li>
                </ul>
            </div>
            {% if not userInfo %}
            <div class="login-register">
                <a href="{% url 'register' %}">登录/注册</a>
            </div>
            {% else %}
            <div class="user-info-container">
                <img class="headimg_caley" src="{% static userInfo.headimg %}">
                <div class="user-data">
                    <h2>{{ userInfo.u_name }}</h2>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="function">
        <div class="func-inner clear">
            <div class="func-item">
                <div class="func-logo1"></div>
                <div class="func-title">熟悉的QQ习惯</div>
                <div class="func-desc">使用QQ帐号登录，QQ好友和消息无缝同步。</div>
            </div>
            <div class="func-item">
                <div class="func-logo2"></div>
                <div class="func-title">在线文档和云文件</div>
                <div class="func-desc">支持在线编辑Word和Excel，提供10G云盘，收发文件长期有效。</div>
            </div>
            <div class="func-item">
                <div class="func-logo3"></div>
                <div class="func-title">丰富的办公功能</div>
                <div class="func-desc">与消息互通的邮件收发、日程管理、电话等功能，让沟通更流畅。</div>
            </div>
        </div>
    </div>
    <div class="doc bottom-right" style="position:relative">
        <div class="doc-inner">
            <!-- <div class="store-logo"></div> -->
            <div class="second-title">10G免费云文件</div>
            <div class="second-desc">上传文件云端存储，收发文件长期有效。</div>
        </div>
        <div class="doc-bg doc1">
            <img src="../static/img/yun.png" alt="" id="yun">
        </div>
        <span class="bottom-line"></span>
    </div>
    <div class="doc top-right" style="position:relative;">
        <div class="doc-inner">
            <!-- <div class="second-logo"></div> -->
            <div class="second-title">在线文档</div>
            <div class="second-desc">在线Word/Excel，多端多人随时编辑。</div>
        </div>
        <div class="doc-bg doc2">
            <img src="../static/img/zaixian.png" alt="" id="document">
            <!-- <video src="video/zaixianwendang.mov" id="zaixianwendang"></video> -->
        </div>
        <span class="bottom-line"></span>
    </div>
    <div class="doc top-left" style="position:relative;">
        <div class="doc-inner">
            <!-- <div class="message-logo"></div> -->
            <div class="second-title">消息云端同步</div>
            <div class="second-desc">手机电脑消息同步，历史消息随时查看。</div>
        </div>
        <div class="doc-bg doc3">
            <!-- <div class="date-mobile-msg"></div>
            <div class="date-pc-msg"></div> -->
            <img src="../static/img/xiaoxi.png" alt="" id="msg">
        </div>
        <span class="bottom-line"></span>
    </div>

    <div class="doc bottom-right" style="position:relative;">
        <div class="doc-inner">
            <!-- <div class="calender-logo"></div> -->
            <div class="second-title">日程管理</div>
            <div class="second-desc">同步系统日程，新建个人日程，还可发起会议邀请。</div>
        </div>
        <div class="doc-bg doc4">
            <!-- <div class="date-mobile"></div>
            <div class="date-pc"></div> -->
            <img src="../static/img/richeng.png" alt="" id="date-manage">
        </div>
        <span class="bottom-line"></span>
    </div>
    <div class="more" style="position:relative;">
        <div class="more-inner clear">
            <div class="more-item">
                <div class="item-logo2"></div>
                <div class="item-title">邮件</div>
                <div class="item-desc">可代收和编辑各类邮箱邮件，邮件附件能够转存到云文件。</div>
            </div>
            <div class="more-item">
                <div class="item-logo8"></div>
                <div class="item-title">名片</div>
                <div class="item-desc">支持纸质名片扫描识别，可作为资料备注在名片夹中统一管理。</div>
            </div>
            <div class="more-item">
                <div class="item-logo7"></div>
                <div class="item-title">办公群</div>
                <div class="item-desc">支持通讯录模式，群文件统一管理，方便团队群内协作。</div>
            </div>
            <div class="more-item">
                <div class="item-logo6"></div>
                <div class="item-title">电话</div>
                <div class="item-desc">好友、多人之间可进行实时清晰的语音及视频通话。</div>
            </div>
            <div class="more-item">
                <div class="item-logo3"></div>
                <div class="item-title">收藏</div>
                <div class="item-desc">可将重要的聊天内容添加至收藏，支持二次编辑。</div>
            </div>
            <div class="more-item">
                <div class="item-logo5"></div>
                <div class="item-title">钱包</div>
                <div class="item-desc">可以进行充值、转账、理财等个人服务。</div>
            </div>
            <div class="more-item">
                <div class="item-logo4"></div>
                <div class="item-title">福利</div>
                <div class="item-desc">为办公用户提供出行、消费、学习、美食等优惠权益。</div>
            </div>
            <div class="more-item">
                <div class="item-logo1"></div>
                <div class="item-title">安全</div>
                <div class="item-desc">使用QQ号登录，QQ安全中心为你保驾护航。</div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p><span>反馈群：</span>XXXXXXXXXXX</p>
        
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bj-report-tryjs.min.js"></script>
    <script src="../static/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script>
        window.tcssReport = function(hottag, domain) { /*点击流上报*/
            if (typeof pgvSendClick == 'function') {
                pgvSendClick({
                    virtualDomain: domain || "tim.qq.com",
                    hottag: hottag
                });
            }
        };
        tcssReport('tim.index.pv')

        // var zaixianwendang = $('#zaixianwendang').offset().top
        var dateManage = $('#date-manage').offset().top
        var msg = $('#msg').offset().top
        var yun = $('#yun').offset().top
        var pdocument = $('#document').offset().top
        var windowHeight = $(window).height()
            // 页面滚动触发播放事件
        function pageScroll() {
            var documentScrollTop = $(document).scrollTop()

            if (documentScrollTop > 10) {
                $('.header').addClass('scrollTop')
            } else {
                $('.header').removeClass('scrollTop')
            }
            if (documentScrollTop > pdocument - windowHeight / 2 - 300) {
                $('#document').addClass('moveUp')
            }
            if (documentScrollTop > dateManage - windowHeight / 2 - 300) {
                $('#date-manage').addClass('moveUp')
            }
            if (documentScrollTop > msg - windowHeight / 2 - 300) {
                $('#msg').addClass('moveUp')
            }
            if (documentScrollTop > yun - windowHeight / 2 - 300) {
                $('#yun').addClass('moveUp')
            }
        }
        $(document).scroll(pageScroll)
        initVideoPosition()

        function initVideoPosition() {
            var w = 2560,
                h = 997,
                ml = 1298,
                mb = 126,
                mw = 180,
                mh = 319,
                pl = 1519,
                pb = 264,
                pw = 626,
                ph = 501,
                nw = (document.body.clientWidth).toFixed(9),
                nh = (nw * h / w).toFixed(9),
                mlp = (ml / w).toFixed(9),
                mbp = (mb / h).toFixed(9),
                mwp = (mw / w).toFixed(9),
                mhp = (mh / h).toFixed(9),
                mlnpx = nw * mlp,
                mbnpx = nh * mbp,
                mwnpx = nw * mwp,
                mhnpx = nh * mhp,


                plp = (pl / w).toFixed(9),
                pbp = (pb / h).toFixed(9),
                pwp = (pw / w).toFixed(9),
                php = (ph / h).toFixed(9),
                plnpx = nw * plp,
                pbnpx = nh * pbp,
                pwnpx = nw * pwp,
                phnpx = nh * php
            $('.video-mob').css({
                bottom: mbnpx + 'px',
                left: mlnpx + 'px',
                width: mwnpx + 'px',
                height: mhnpx + 'px'
            })
            $('.video-pc').css({
                bottom: pbnpx + 'px',
                left: plnpx + 'px',
                width: pwnpx + 'px',
                height: phnpx + 'px'
            })

        }
        setTimeout(function() {
            document.getElementById('mob').play()
            document.getElementById('pc').play()
        }, 2000)
        $('.wording').addClass('show')
        window.onresize = function() {
            initVideoPosition()
        }
        document.getElementById('mob').onended = function() {
            var _this = this;
            var ender = setTimeout(function() {
                _this.play()
                clearTimeout(ender)
            }, 2000)
        }
        document.getElementById('pc').onended = function() {
            var _this = this;
            var ender = setTimeout(function() {
                _this.play()
                clearTimeout(ender)
            }, 2000)
        }
        document.onmouseenter = function() {
            return false;
        }
        document.onmousemove = function() {
            return false;
        }
        document.oncontextmenu = function() {
            return false;
        }
    </script>
</body>

</html>