{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CaleyRun</title>
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/caley.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <style>
        .doc.bottom-right:nth-of-type(1),
        .doc.top-right,
        .doc.top-left,
        .doc.bottom-right:nth-of-type(2) {
            display: none;
        }
        .center-container {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="video-bg">
        <img src="../static/img/index-bg1.png" alt="" class="bg-img">
        <div class="banner1-info new">
            <div class="wording">
                <div class="move-logo"></div>
                <div class="move-title">BUPT空调管理系统</div>
                <div class="move-desc">支持在线控制温湿度、查询账单、结账等功能。</div>
                <div class="move-down">
                    <a href="{% url 'airconlist' %}" class="move-down-a">
                        <span>房间列表</span>
                        <span>房间列表</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="h-inner">
            <h1 class="logo">
                <a href="{% url 'index' %}"></a>
            </h1>
            <div class="nav">
                <ul class="nav-ul">
                    <li class="nav-item"><a href="{% url 'index' %}" class="active">首页</a></li>
                    <li class="nav-item"><a href="{% url 'airconlist' %}">浏览房间</a></li>
                    <li class="nav-item"><a href="./support.html">个人中心</a></li>
                </ul>
            </div>
            {% if not userInfo %}
            <div class="login-register">
                <a href="{% url 'register' %}">登录/注册</a>
            </div>
            {% else %}
            <div class="user-info-container">
                <img class="headimg_caley" src="{% static userInfo.headimg %}">
                <div class="user-data">
                    <h2>{{ userInfo.u_name }}</h2>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="function">
         {% if userInfo.user_state ==  "0" or userInfo.user_state == "4"%}
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <a class="btn btn-warning" href="{% url 'airconlist' %}" role="button">查看统计报表</a>
        </div>
        {% else %}
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        {% endif %}
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="func-inner clear" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="doc bottom-right" style="position:relative">
        <div class="doc-inner">
            <!-- <div class="store-logo"></div> -->
        </div>
        <div class="doc-bg doc1">
            <img src="../static/img/0386c7c8e15ce32457efb9e9f60558c83814460.gif" alt="" id="yun">
        </div>
        <span class="bottom-line"></span>
    </div>
    <div class="doc top-right" style="position:relative;">
        <div class="doc-inner">
            <!-- <div class="second-logo"></div> -->
        </div>
        <div class="doc-bg doc2">
            <img src="../static/img/0386c7c8e15ce32457efb9e9f60558c83814460.gif" alt="" id="document">
            <!-- <video src="video/zaixianwendang.mov" id="zaixianwendang"></video> -->
        </div>
        <span class="bottom-line"></span>
    </div>
    <div class="doc top-left" style="position:relative;">
        <div class="doc-inner">
        </div>
        <div class="doc-bg doc3">
            <!-- <div class="date-mobile-msg"></div>
            <div class="date-pc-msg"></div> -->
            <img src="../static/img/31e2893f9b7f4680d377946a44e50d973814460.gif" alt="" id="msg">
        </div>
        <span class="bottom-line"></span>
    </div>

    <div class="doc bottom-right" style="position:relative; display:false" >
        <div class="doc-inner">
        </div>
        <div class="doc-bg doc4">
            <!-- <div class="date-mobile"></div>
            <div class="date-pc"></div> -->
            <img src="../static/img/31e2893f9b7f4680d377946a44e50d973814460.gif" alt="" id="date-manage">
        </div>
        <span class="bottom-line"></span>
    </div>
    <div class="more" style="position:relative;">

    </div>

    <div class="footer">
        <p><span>Created by：</span>CALEYUEXING 2023523012</p>
        
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bj-report-tryjs.min.js"></script>
    <script src="../static/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script>
        window.tcssReport = function(hottag, domain) { /*点击流上报*/
            if (typeof pgvSendClick == 'function') {
                pgvSendClick({
                    virtualDomain: domain || "tim.qq.com",
                    hottag: hottag
                });
            }
        };
        tcssReport('tim.index.pv')

        // var zaixianwendang = $('#zaixianwendang').offset().top
        var dateManage = $('#date-manage').offset().top
        var msg = $('#msg').offset().top
        var yun = $('#yun').offset().top
        var pdocument = $('#document').offset().top
        var windowHeight = $(window).height()
            // 页面滚动触发播放事件
        function pageScroll() {
            var documentScrollTop = $(document).scrollTop()

            if (documentScrollTop > 10) {
                $('.header').addClass('scrollTop')
            } else {
                $('.header').removeClass('scrollTop')
            }
            if (documentScrollTop > pdocument - windowHeight / 2 - 300) {
                $('#document').addClass('moveUp')
            }
            if (documentScrollTop > dateManage - windowHeight / 2 - 300) {
                $('#date-manage').addClass('moveUp')
            }
            if (documentScrollTop > msg - windowHeight / 2 - 300) {
                $('#msg').addClass('moveUp')
            }
            if (documentScrollTop > yun - windowHeight / 2 - 300) {
                $('#yun').addClass('moveUp')
            }
        }
        $(document).scroll(pageScroll)
        initVideoPosition()

        function initVideoPosition() {
            var w = 2560,
                h = 997,
                ml = 1298,
                mb = 126,
                mw = 180,
                mh = 319,
                pl = 1519,
                pb = 264,
                pw = 626,
                ph = 501,
                nw = (document.body.clientWidth).toFixed(9),
                nh = (nw * h / w).toFixed(9),
                mlp = (ml / w).toFixed(9),
                mbp = (mb / h).toFixed(9),
                mwp = (mw / w).toFixed(9),
                mhp = (mh / h).toFixed(9),
                mlnpx = nw * mlp,
                mbnpx = nh * mbp,
                mwnpx = nw * mwp,
                mhnpx = nh * mhp,


                plp = (pl / w).toFixed(9),
                pbp = (pb / h).toFixed(9),
                pwp = (pw / w).toFixed(9),
                php = (ph / h).toFixed(9),
                plnpx = nw * plp,
                pbnpx = nh * pbp,
                pwnpx = nw * pwp,
                phnpx = nh * php
            $('.video-mob').css({
                bottom: mbnpx + 'px',
                left: mlnpx + 'px',
                width: mwnpx + 'px',
                height: mhnpx + 'px'
            })
            $('.video-pc').css({
                bottom: pbnpx + 'px',
                left: plnpx + 'px',
                width: pwnpx + 'px',
                height: phnpx + 'px'
            })

        }
        setTimeout(function() {
            document.getElementById('mob').play()
            document.getElementById('pc').play()
        }, 2000)
        $('.wording').addClass('show')
        window.onresize = function() {
            initVideoPosition()
        }
        document.getElementById('mob').onended = function() {
            var _this = this;
            var ender = setTimeout(function() {
                _this.play()
                clearTimeout(ender)
            }, 2000)
        }
        document.getElementById('pc').onended = function() {
            var _this = this;
            var ender = setTimeout(function() {
                _this.play()
                clearTimeout(ender)
            }, 2000)
        }
        document.onmouseenter = function() {
            return false;
        }
        document.onmousemove = function() {
            return false;
        }
        document.oncontextmenu = function() {
            return false;
        }
    </script>
</body>

</html>